.PriceLinePlotBody {
  max-width: 100%;
  max-height: 100%;
  height: 100%; 
  font-size-adjust: from-font;
  font-size: 1.1em;
}

@media (width < 480px) {
  .PriceLinePlotBody {
    font-size-adjust: initial;
  }
}

.PriceLinePlotBody g.XAxis .Tick text,
.PriceLinePlotBody g.YAxis .Tick text {
  font-size: 1.3em;
}

.PriceLinePlotBody .XAxisTitle,
.PriceLinePlotBody .YAxisTitle {
  text-transform: capitalize;
  font-size: 1.4em;
}

.LineWithMissingData {
  stroke: var(--text-color);
}

.Line {
  stroke: var(--text-color);
  opacity: 0.7;
}

.DotGroupOnLine {
  fill: var(--background-color);
}

.DotOnLine {
  fill: var(--text-color);
  opacity: 0.8;
}

.PointerDot {
  stroke: var(--text-color);
}
