.PlotContainer {
  display: flex;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 1em;
  opacity: 0;
}

.IsVisible {
  opacity: 1;
}

.PriceLineTooltipContent {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 0.2em 1em;
} 
