.Button {
  border-radius: var(--border-radius);
  padding: 0.4em 0.8em;
  border: 0.1em solid var(--button-border-color);
  height: fit-content;
  cursor: pointer;
  color: var(--text-color);
  display: inline-block;
  position: relative;
}

.Button:not(.NoCapitalize)::first-letter {
  text-transform: capitalize;
}

.Button i {
  display: flex;
  color: var(--text-color);
  font-size: 1.5em;
}

.Primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.Fluid {
  width: 100%;
  height: 100%;
}

.Big {
  padding: 0.8em 1em;
}

.Big i {
  font-size: 1.6em;
}

.Small {
  padding: 0.3em 1em;
}

.Small i {
  font-size: 1.3em;
}

.Tiny {
  padding: 0.1em 0.5em;
}

.Tiny i {
  font-size: 1.2em;
}

.TransparentOnDefaultState,
.Transparent {
  background-color: transparent;
  border-color: #888;
}

.NoPadding {
  padding: 0;
}

.Button.NoPadding:has(>i+span)>i+span {
  padding-right:0.3em;
}

.NoBorder {
  border: none;
  border-radius: 0;
}

.Button:has(>i+span) {
  display: flex;
  gap: 0.3em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Button:has(>i+span)>i {
  /* font-size: 1.3em; */
  display: flex;
}

.Button.AsInitial {
  color: var(--text-color);
}

.Button.AsInitial i {
  color: var(--text-color) !important;
}

.Button:disabled {
  cursor: default;
  background-color: initial;
  border-color: initial;
}

.Button:disabled i {
  color: var(--svg-icon-disabled-fill);
}

.Button.IsAlwaysVisible i {
  opacity: 1 !important;
}

.Button:has(>i+span)>span::first-letter {
  text-transform: capitalize;
}

.Button:hover:not(:disabled),
.Button:focus:not(:disabled),
.Button:focus-visible:not(:disabled) {
  background-color: light-dark(#bdbdbd, #5c5c5c);
  border-color: #252525;
}

.Button:active:not(:disabled) {
  background-color: light-dark(#fff, #000);
}

.Primary:active:not(:disabled) {
  background-color: var(--primary-active-color);
  color: var(--primary-active-text-color);
}

.Primary:hover:not(:disabled),
.Primary:focus:not(:disabled),
.Primary:focus-visible:not(:disabled) {
  background-color: var(--primary-hover-color);
  color: var(--primary-hover-text-color);
}

.Transparent:hover:not(:disabled),
.Transparent:focus:not(:disabled),
.Transparent:focus-visible:not(:disabled) {
  background-color: transparent;
  border-color: #252525;
}

.Transparent:active:not(:disabled) {
  background-color: transparent;
}

.Transparent:hover:not(:disabled) i,
.Transparent:focus:not(:disabled) i,
.Transparent:focus-visible:not(:disabled) i {
  color: var(--svg-icon-hover-fill);
}

.Transparent:active:not(:disabled) i {
  color: var(--svg-icon-active-fill);
}

.AsLink {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

.AsLink:hover,
.AsLink:focus,
.AsLink:focus-visible {
  text-decoration-line: none;
}

