.Button {
  border-radius: var(--border-radius);
  padding: 0.4em 0.8em;
  border: 0.1em solid var(--button-border-color);
  height: fit-content;
  cursor: pointer;
  color: var(--text-color);
  display: inline-block;
  position: relative;
}

.Button:not(.NoCapitalize)::first-letter {
  text-transform: capitalize;
}

.Button svg {
  display: flex;
  fill: var(--text-color);
}

.Primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.Fluid {
  width: 100%;
  height: 100%;
}

.Tiny {
  padding: 0.1em 0.5em;
}

.Tiny svg {
  width: 1.2em;
  height: auto;
}

.Small {
  padding: 0.3em 1em;
}

.Small svg {
  width: 1.4em;
  height: auto;
}

.Big {
  padding: 0.8em 1em;
}

.Big svg {
  width: 1.6em;
  height: auto;
}

.TransparentOnDefaultState,
.Transparent {
  background-color: transparent;
  border-color: #888;
}

.NoPadding {
  padding: 0;
}

.Button.NoPadding:has(>svg+span)>svg+span {
  padding-right:0.2em;
}

.NoBorder {
  border: none;
  border-radius: 0;
}

.Button:has(>svg+span) {
  display: flex;
  gap: 0.25em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2.4em;
}

.Button:has(>svg+span)>svg {
  height: 1.3em;
  width: auto;
  display: flex;
  position: absolute;
  left: 0.8em;
  top: 50%;
  transform: translate(0, -50%);
}

.Button.AsInitial {
  color: var(--text-color);
}

.Button.AsInitial svg {
  fill: var(--text-color) !important;
}

.Button:disabled {
  cursor: default;
  background-color: initial;
  border-color: initial;
}

.Button:disabled svg {
  fill: var(--svg-icon-disabled-fill);
}

.Button.IsAlwaysVisible svg {
  opacity: 1 !important;
}

.Button.NoPadding:has(>svg+span) {
  padding-left: 0;
}

.Button.NoPadding:has(>svg+span)>svg {
  width: 1.4em;
  height: auto;
  position: relative;
  top: auto;
  transform: none;
  left: auto;
}

.Button:has(>svg+span)>span::first-letter {
  text-transform: capitalize;
}

.Button:hover:not(:disabled),
.Button:focus:not(:disabled),
.Button:focus-visible:not(:disabled) {
  background-color: light-dark(#bdbdbd, #5c5c5c);
  border-color: #252525;
}

.Button:active:not(:disabled) {
  background-color: light-dark(#fff, #000);
}

.Primary:active:not(:disabled) {
  background-color: var(--primary-active-color);
  color: var(--primary-active-text-color);
}

.Primary:hover:not(:disabled),
.Primary:focus:not(:disabled),
.Primary:focus-visible:not(:disabled) {
  background-color: var(--primary-hover-color);
  color: var(--primary-hover-text-color);
}

.Transparent:hover:not(:disabled),
.Transparent:focus:not(:disabled),
.Transparent:focus-visible:not(:disabled) {
  background-color: transparent;
  border-color: #252525;
}

.Transparent:active:not(:disabled) {
  background-color: transparent;
}

.Transparent:hover:not(:disabled) svg,
.Transparent:focus:not(:disabled) svg,
.Transparent:focus-visible:not(:disabled) svg {
  fill: var(--svg-icon-hover-fill);
}

.Transparent:active:not(:disabled) svg {
  fill: var(--svg-icon-active-fill);
}

.AsLink {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

.AsLink:hover,
.AsLink:focus,
.AsLink:focus-visible {
  text-decoration-line: none;
}

