.Container {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: end;
}

.ActionButtons {
  display: flex;
  gap: 0.5em;
}

.ActionButtons button:has(span){
  padding: 0 0.2em 0 0;
}
