.InternalStaticLink {
  text-decoration: none;
}

.InternalStaticLink i {
  display: flex;
  color: var(--text-color);
  font-size: 1.5em;
}

.InternalStaticLink:hover i,
.InternalStaticLink:focus i,
.InternalStaticLink:focus-visible i {
  color: var(--svg-icon-hover-fill);
}

.InternalStaticLink:active i {
  color: var(--svg-icon-active-fill);
}
