.InternalNavLink {
  text-decoration: none;
}

.InternalNavLink i {
  display: flex;
  color: var(--text-color);
 
}

.InternalNavLink:hover i,
.InternalNavLink:focus i,
.InternalNavLink:focus-visible i {
  color: var(--svg-icon-hover-fill);
}

.InternalNavLink:active i {
  color: var(--svg-icon-active-fill);
}
