.Navbar {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  border-bottom: 0.1em solid var(--panel-border-color);
  width: 100%;
  padding: 0.5em;
  align-items: center;
}

.HeaderContainer {
  display: flex;
  gap: 1em;
  align-items: center;
}

.Logo {
  display: flex;
  text-transform: capitalize;
}

.LinksList {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.1em;
  padding: 0;
  margin: 0;
}

.MobileNavMenuActionButtons{
  display: none;
}

.LinkListItem {
  display: flex;
}

.NavLink {
  position: relative;
  padding: 0.25em 0.8em;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}

.NavLink::after {
  content: '';
  display: block;
  top: 85%;
  position: absolute;
  left: 2%;
  width: 96%;
  background-color: light-dark(#494949, #797979);
  border-radius: 0.1em;
}

.NavLink.Pending::after {
  height: 0;
  display: none;
}

.NavLink.Active::after {
  height: 0.2em;
}

.NavLink:hover::after,
.NavLink:focus::after,
.NavLink:focus-visible::after {
  height: 0.4em;
}

@media (width < 768px) {
  .LinksList {
    flex-direction: column;
    width: 100%;
  }

  .NavLink {
    width: 100%;
  }
}

@media (width <= 480px) {
  .MobileNavMenu {
    position: absolute;
    top: 2.6em;
    left: 0;
    height: 100%;
    background: var(--background-color);
    z-index: 10;
    padding: 1em 0;
    display: none;
  }

  .MobileNavMenuActionButtons {
    display: flex;
    z-index: 11;
  }

  .VisibleMobileNavMenu {
    display: flex;
  }
}
