.TableWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: auto;
}

.TableContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.Table {
  width: 100%;
  border-collapse: collapse;
}

.TableHeaderContainer {
  display: flex;
  background-color: light-dark(#ccc, #414141);
  color: var(--text-color);
  margin-bottom: 0.25em;
  align-items: center;
  justify-content: space-between;
  gap: 0 1em;
  padding: 0.3em 0.5em;
  border-radius: var(--border-radius);
  position: relative;
  flex-wrap: wrap;
}

.TableHeaderLeftPart {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.TableHeaderRightPart {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.TableItemsQuantity {
  display: flex;
  position: relative;
  font-size: 0.95em;
  flex-shrink: 0;
}

.TableTitle {
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
  display: flex;
  flex-shrink: 0;
  font-size: 1.05em;
}

.TableTitleActonButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

@media (width <=480px) {
  .TableHeaderContainer button {
    width: 100%;
  }
}

.NoData,
.LoadingData {
  text-align: center;
  padding: 1em 0.25em;
}

.NoData::first-letter,
.LoadingData::first-letter {
  text-transform: capitalize;
}
