.CheckboxGroupField {
  padding: 0.4em 0.8em;
  width: 100%;
  display: table-cell;
  margin-bottom: 0.5em;
}

.Item {
  display: flex;
  gap: 0.5em;
}

.NoItemsLabel {
  display: flex;
  padding: 0.4em 0.8em;
  border-radius: var(--border-radius);
  border: 0.1em solid gray;
}
