.TextareaField {
  background-color: var(--form-field-background-color);
  border: 0.1em solid #888;
  border-radius: var(--border-radius);
  width: 100%;
  min-height: 5em;
  max-height: 10em;
  resize: vertical;
  padding: 0.4em 0.8em;
  display: table-cell;
  margin-bottom: 0.5em;
}
