.SearchByNameForm {
  display: flex;
  gap: 0.5em;
  flex-grow: 1;
  margin-bottom: 0.25em;
}

.SearchField {
  position: relative;
  display: flex;
  width: 100%;
}

.SearchField input {
  padding-right: 2.3em !important;
  margin-bottom: 0;
}

.SearchField input~button[type="reset"] {
  display: flex;
  position: absolute;
  right: 0.4em;
  border: none;
  background: none;
  border-radius: var(--border-radius);
  padding: 0;
  align-self: center;
}

.SearchField input~button[type="reset"] svg {
  display: flex;
  height: 1.5em;
  width: 1.5em;
}

.SearchField input:placeholder-shown~button[type="reset"] {
  display: none;
}
