.MapStaticOverlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--map-label-text-color);
  text-shadow: var(--map-label-text-shadow);
  user-select: none;
  pointer-events: none;
}

.LabelsContainer {
  position: absolute;
  top: 1em;
  left: 1em;
  user-select: text;
  pointer-events: auto;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  width: max-content;
}

.LabelIcon {
  display: flex;
  fill: var(--text-color);
}

.LabelIcon.Small {
  height: 1.6em;
}

.LabelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  max-width: 100%;
  width: max-content;
}

.PlaceLabelsContainer {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  width: max-content;
}

.SelectedItemLabelsContainer {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  width: max-content;
  font-size: 0.8em;
}

.LevelIndicationIconWrapper {
  width: auto;
  height: 2em;
  margin: 0 -0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconWrapper a {
  display: flex;
}

.IconAndLabelContainerWrapper {
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: center;
}

.PlanetarySystemNameLabel {
  font-size: 1.3em;
  text-shadow: var(--map-label-text-shadow);
}

.PlanetarySystemNameLabel::first-letter {
  text-transform: capitalize;
}

.PlanetarySystemNameSubLabel {
  font-size: 0.9em;
}

.MapZoomLevelLabel {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 0.9em;
  font-family: var(--monospace-font-family);
  background-color: transparent;
  user-select: text;
  pointer-events: auto;
}
