.ModalBody {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow: auto;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-height: 100%;
  overflow: auto;
}

.NoData {
  display: flex;
  height: 20em;
  width: auto;
  justify-content: center;
  align-items: center;
}

.TitleWithButton {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.TitleWithButton span::first-letter {
  text-transform: capitalize;
}
